@import "mixins";

.navbar {
  background-color: var(--bg-nav-color);
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  .navbar-nav {
    a {
      color: #fff;
      font-size: 1.4rem;
      @include black_hover;
    }
    .dropdown-menu {
      background-color: var(--bg-nav-color);
      & a:hover {
        background-color: #fff;
      }
    }
    .dropdown-item {
      margin: 0.3rem 0;
    }
  }
  .navbar-toggler:focus,
  .navbar-toggler:active{
    outline: none;
    box-shadow: none;
  }
  .navbar-collapse .nav-link {
    margin: 0 1.5rem;
  }
  .nav-item.dropdown:hover .dropdown-menu {
    display: block;
  }
}


