body {
  font-family: "Raleway", sans-serif;
  h1 {
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-size: 2rem;
    font-weight: 500;
  }
  h2,
  h3 {
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
    margin: 0;
  }
  p {
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.6rem;
    margin: 0;
  }
}
